name: Lint docs

on:
  pull_request:
    branches: [ main ]
    paths: 'docs/**'

jobs:
  prose:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - uses: errata-ai/vale-action@bba898aad70788bace1547a258c8fb968218e787
        with:
          files: __onlyModified
          onlyAnnotateModifiedLines: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}